@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
body {
  background-color: #000000;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  gap: 5vh;
}

.tablero {
  width: 1px;
  height: 1px;
  margin: 1vh 2vw;
  transform: scale(10);
}

.display {
  border: 1px solid rgb(127, 139, 0);
  height: 70vh;
  width: 95vw;
}

.links {
  align-self: center;
}

@media screen and (max-width: 992px) {
  a {
    font-size: 3em;
  }
  .grid {
    gap: 1vh;
  }
}
